# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, submit the notebook (.pynb file) to corresponding Teaching Assistant (TA) through Microsoft Teams</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Do not change the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# Number

In [38]:
# basic numeric operations
34 - 22

12

In [39]:
# classic division returns a float
23/8

2.875

In [40]:
# floor division discards the fractional part
23 // 8

2

In [7]:
# assigin value to variable for later use
a = 1299 / 22
print(a)

59.04545454545455

In [19]:
# use the variable a for further operations
b = a*9
print(b)

531.4090909090909

In [43]:
2 ** 10

1024

<b>Exercise 1:</b> Assign values to some variables and perform different operations. Also print the results.

In [9]:
# code here
x = 17
y = 18
z = 19
print(y-x)
print(x*z)
print(x**y//z)

1
323
740162339582511841632

# Import Module
<p style="text-align: justify"> Python code in one module gains access to the code in another module by the process of importing it. The import statement is the most common way of invoking the import machinery.</p>

<p style="text-align: justify">Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs.</p>

<b> Example:</b> Python has a built-in module that you can use for mathematical tasks. The math module has a set of methods and constants. The detail documentation can be found [here](https://docs.python.org/3/library/math.html).

In [45]:
# importing the math module
import math
# accessing the constant π from math
math.pi

3.141592653589793

In [46]:
# using the method sqrt from math
math.sqrt(66)

8.12403840463596

<b>Remember:</b> A cell always outputs the value of last variable. If you want to show other values use print. See the below cell for an example.

In [47]:
print(1+2)
print(a*4)
print(a/b)

3
236.1818181818182
0.11111111111111112

<b>Exercise 2:</b> Import a module of your choice and show some operations.

In [21]:
# code here
import random
print(random.sample([1, 2, 3, 4, 5, 6, 7, 8, 9], k=4))
print(random.random())
print(random.choice(['win', 'lose', 'draw']))

[2, 7, 6, 3]
0.07326494731758026
lose

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

In [20]:
# Checking the type of an object
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [50]:
c = 123
print(type(c))

<class 'int'>

In [51]:
d = '123'
print(type(d))

<class 'str'>

In [52]:
c = 45.5
print(type(c))

<class 'float'>

In [53]:
d = 99
print(type(d))

<class 'int'>

# String

In [54]:
# assign value to a variable. The value can be qouted using '' or ""
name = 'Bangladesh'

In [55]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [56]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [57]:
# index
name[2]

'n'

In [58]:
# negative index
name[-2]

's'

When to use ' ' or " " ?

In [59]:
name = 'asif "rahman'
print(name)

asif "rahman

In [60]:
name = "asif 'rahman"
print(name)

asif 'rahman

string operations with * and +

In [25]:
'asif>' * 8

'asif>asif>asif>asif>asif>asif>asif>asif>'

In [62]:
name * 3

"asif 'rahmanasif 'rahmanasif 'rahman"

In [63]:
'asif ' + 'rahman'

'asif rahman'

In [64]:
name + ' hasan'

"asif 'rahman hasan"

In [27]:
# slicing
name = 'Hossain'
print(name[-3:])
print(name[4:])
print(name[4:6])

ain
ain
ai

In [66]:
name[-4:-1]

'sai'

In [32]:
name = 'Afsar Mahmud sayed'
name.count('sa')

2

In [67]:
name[-8:-2]

'Hossa'

In [68]:
#dir(name)

Some examples of string methods

In [33]:
name = 'Afsar Mahmud sayed'
sub = 'a'
name.count(sub)

3

In [70]:
print(name.split('s')[-1])

ayed

In [71]:
name.islower()

False

In [72]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [73]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.split(' ')

['I', 'am', 'right\nHe', 'is', 'fine\nThis', 'it', 'okay']

In [74]:
separator = '??'
mystrings = ['Himel', 'Liton', 'Hasan', 'Fahim']
separator.join(mystrings)

'Himel??Liton??Hasan??Fahim'

In [75]:
#help(mystring.count)

In [76]:
len(name)

18

<b>Exercise 3:</b> Demostrate some string operations. Also, show uses of some string methods.

In [62]:
# Code here
str = 'ajran hossin'
print(str.title())
print(str.capitalize())
print(str.upper())
print('First name : '+ str.split()[0].title())
print('Last name : '+ str.split()[-1].title())

Ajran Hossin
Ajran hossin
AJRAN HOSSIN
First name : Ajran
Last name : Hossin

# List
<p style="text-align: justify">Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.</p>

In [56]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [79]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [80]:
data[-3][0]

'Manager'

In [81]:
data[-1]

'Dhaka'

In [82]:
data[0:2]

[21, 'Manager']

In [83]:
data[1]

'Manager'

In [84]:
data[2][0]

'Manager'

In [85]:
len(data)

5

In [86]:
data[-1]

'Dhaka'

In [87]:
data

[21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka']

Some list methods

In [88]:
data.append(100)
print(data)

[21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka', 100]

In [89]:
data.remove(100)
print(data)

[21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka']

In [90]:
data.pop(1)
print(data)

[21, ['Manager', 89000], 4.5, 'Dhaka']

In [107]:
#dir(data)

In [92]:
#help(data.insert)

Lists also support operations like concatenation

In [93]:
squares + data

[1, 4, 9, 16, 25, 21, ['Manager', 89000], 4.5, 'Dhaka']

<b> Exercise 4:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [67]:
# code here
stack = [10,20,30,40,50,60,70,80]
stack.append(90)
print(stack)
stack.pop()
print(stack)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80]

<b> Exercise 5:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)</p>

In [69]:
# code here
queue = [10,20,30,40,50,60,70,80]
queue.append(90)
print(queue)
queue.pop(0)
print(queue)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[20, 30, 40, 50, 60, 70, 80, 90]

# Dictionary
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [96]:
tel = {'jack': 4098, 'sape': 4139}

In [97]:
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [98]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [99]:
person['Rating']

4.5

In [100]:
len(person)

4

In [101]:
person.keys()

dict_keys(['Age', 'Name', 'Salary', 'Rating'])

In [102]:
#person.has_key('Name')
'Name' in person.keys()

True

In [103]:
'niaz' in person['Name']

True

In [77]:
#dir(person)

<b> Exercise 6:</b> Define a dictionary to store the details of persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [79]:
# Code here
person = {'969': {'name': 'Abrahim', 'age': '27', 'gender': 'Male'},
          '696': {'name': 'Maria', 'age': '22', 'gender': 'Female'}}
nid_1 = '969'
nid_2 = '696'
print('NID :'+nid_1 +'\nName : ' + person[nid_1]['name'] + '\nAge : ' + person[nid_1]['age'] + '\nGender : '+ person[nid_1]['gender'])
print('\n\n')
print('NID :'+nid_2 +'\nName : ' + person[nid_2]['name'] + '\nAge : ' + person[nid_2]['age'] + '\nGender : '+ person[nid_2]['gender'])

NID :969
Name : Abrahim
Age : 27
Gender : Male



NID :696
Name : Maria
Age : 22
Gender : Female

# Tuples and Sets
<b>Exercise 7: (Optional)</b> Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [96]:
# code from here
tuple = (1,5,6,6,5,4,1,(6,9))
print(len(tuple))
print(tuple.count(5))
print(tuple[-1])
print('\n')
set = {1,3,5,7,9,9,5}
print(set.union())
set.add(11)
print(set)
set.remove(3)
print(set)

8
2
(6, 9)


{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 5, 7, 9, 11}